AlignAfterOpenBracket: BlockIndent
ColumnLimit: 80
CommentPragmas: '^[^ ]'
IncludeBlocks: Preserve
IndentWidth: 4
PointerAlignment: Left
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
